* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(223, 223, 223, 1);
}

.content-div {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: 0 auto 30px auto;
    width: 93%;
}

h1, h2, p {
    padding: 10px;
}

h1, h2, p {
    color: rgba(43, 52, 70, 1);
}

h1, h2 {
    text-align: center;
    font-family: "Cinzel", serif;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.0rem;
}

.search-container, .query-answer {
    border-radius: 15px;
    padding: 10px;
}

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 0;
}

input, button, p {
    font-size: 1.3rem;
    font-family: "Playfair Display", serif;
}

input, button {
    height: 40px;
    padding: 0 10px;
}

input {
    width: 280px;
    margin-bottom: 20px;
}

button {
    width: 110px;
    background-color: rgba(43, 52, 70, 1);
    color: white;
}

/* Desktop Views */
@media (min-width: 992px) {
    h1 {
        font-size: 3.0rem;
    }
    .content-div {
        max-width: 70%;
    }
    .search-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    input {
        width: 450px;
        margin: 0 10px 0 0;
    }
}